lesson5/node-red-exec-thingspeak
[{"id":"6bb5be64.402eb","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"95d32217.b9b83","type":"inject","z":"6bb5be64.402eb","name":"","topic":"","payload":"","payloadType":"date","repeat":"1","crontab":"","once":false,"x":90,"y":100,"wires":[["3dfc58df.a1b448"]]},{"id":"3dfc58df.a1b448","type":"exec","z":"6bb5be64.402eb","command":"free -m | awk 'FNR==2 {print $4 \"\\n\" $3}'","addpay":false,"append":" ","useSpawn":"","timer":"","oldrc":false,"name":"","x":367,"y":99.5,"wires":[["968dc07e.ea4c4","824f82e6.76575"],[],[]]},{"id":"968dc07e.ea4c4","type":"function","z":"6bb5be64.402eb","name":"usage_memory data elaboration","func":"var values = msg.payload.split('\\n');\nvar mem_usage = values[0]/values[1]\nmsg.payload = Math.round(mem_usage*10000)/100\nreturn msg;","outputs":1,"noerr":0,"x":734,"y":86,"wires":[["83d36506.4eb5a8"]]},{"id":"a91712a6.b3aad","type":"debug","z":"6bb5be64.402eb","name":"","active":true,"console":"false","complete":"false","x":1053,"y":342,"wires":[]},{"id":"543959b3.872b2","type":"function","z":"6bb5be64.402eb","name":"Thingspeak Message Configuration","func":"var API_KEY = \"YOUR-API-KEY\"\nvar data = msg.payload\nmsg.url = \"https://api.thingspeak.com/update?api_key=\" + API_KEY + \"&field1=\" + data\nreturn msg;","outputs":1,"noerr":0,"x":557,"y":343,"wires":[["f049f593.26a8d"]]},{"id":"f049f593.26a8d","type":"http request","z":"6bb5be64.402eb","name":"","method":"GET","ret":"txt","url":"","tls":"","x":845,"y":342,"wires":[["a91712a6.b3aad"]]},{"id":"83d36506.4eb5a8","type":"delay","z":"6bb5be64.402eb","name":"Message Rate Limiter","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"2","nbRateUnits":"1","rateUnits":"minute","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":270,"y":344,"wires":[["543959b3.872b2"]]},{"id":"824f82e6.76575","type":"debug","z":"6bb5be64.402eb","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":670,"y":140,"wires":[]}]
